{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    
    <title>Eric Musa's Portfolio</title>

</head>
<body>
    <style>
        body {
            font-family: 'Roboto';
            margin: 0;
            padding: 0;
        }
    </style>
    <div id="main">
        <div id="app"></div>
    </div>
    <script>
        window.watsonAssistantChatOptions = {
            integrationID: "8886fb9b-c132-49a6-a970-940a748bb95d", // The ID of this integration.
            region: "us-south", // The region your integration is hosted in.
            serviceInstanceID: "2ec3946c-9709-4e83-812f-60cb4ebb41b3", // The ID of your service instance.
            onLoad: function(instance) { instance.render(); }
        };
        setTimeout(function(){
            const t=document.createElement('script');
            t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
            document.head.appendChild(t);
        });
    </script>

    <script src="{% static 'frontend/dist/main.js' %}"></script>
</body>
</html>
