@mixin rounded {
    border-radius: 20px;  // rounded slides
}

.slideshow-container {  // outer container for Slideshow component
    display: flex;
    flex-direction: column;
    justify-content: center;  // double-centered content
    align-items: center;
    transform-style: preserve-3d;
}

.slideshow {
    position: relative;  // relative positioning so children can have absolute positioning
    height: 100%;
    width: 100%;  // fully fill outer container
}

.slide {
    @include rounded;  // rounded slides
    position: absolute;  // slides have absolute positioning to allow transition
    height: 80%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;  // centered inside parent container
    margin: auto;
    transition: transform 1.25s ease;
    cursor: pointer;
}

.slideshow-radio {
    display: none;  // don't show radio buttons
}

img {
    @include rounded;  // rounded slides
    height: 100%;
    width: 100%;
    object-fit: cover;  // cover cut-off portions of images
}


// Formattiing for each slide type
// currently: 5 visible slides + (N-5) hidden slides

.farLeftSlide {
    transform: translatex(-75%) scale(.5);
    filter: brightness(50%) blur(5px);
    z-index: 1;
}

.nearLeftSlide {
    transform: translatex(-45%) scale(.8);
    filter: brightness(75%) blur(2px);
    z-index: 2;
}

.centerSlide {
    transform: translatex(0) scale(1);
    filter: brightness(100%);
    z-index: 3;
    box-shadow: 5px 5px 5px rgba(81, 81, 81, 0.47),
}

.nearRightSlide {
    transform: translatex(45%) scale(.8);
    filter: brightness(75%) blur(2px);
    z-index: 2;
}

.farRightSlide {
    transform: translatex(75%) scale(.5);
    filter: brightness(50%) blur(5px);
    z-index: 1;
}

.hiddenSlide {
    transform: translatex(0%) scale(.2);
    filter: brightness(0);
    z-index: 0;
}